<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules and Regulation-ATV Rental</title>
    <link rel="stylesheet" href="TourguideDashboard.css">
    <link rel="icon" href="LOGOATV.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Baloo+Tamma+2&family=Black+Ops+One&family=Bungee+Inline&family=Fredericka+the+Great&family=Fredoka&family=Rubik+Moonrocks&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<style>
    .topOfbody h1 img{
    position: absolute;
    top: 0;
    right: 480px;
    width: 15%;
}
</style>
</head>
<body>

    <div class="SideLeftMenu">
        <div class="logo">
            <img src="ATVLOGO.png">
        </div>
        <div class="menu">
            <a href="TourguideDashboard" >
                <span class="material-symbols-outlined" >dashboard</span>
                <h3 >Dashboard</h3>
            </a>
            <a href="TourguideProfile">
                <span class="material-symbols-outlined"> account_circle</span>
                <h3 >Profile</h3>
            </a>
                
            <a href="scheduleOfTour">
                <span class="material-symbols-outlined" >calendar_month</span>
                <h3 >Schedule of Tours</h3>
            </a>
            <a href="HistoryOfTours">
                <span class="material-symbols-outlined">public</span>
                <h3 >ATV MAP</h3>
            </a>
            <a href="ListOfDemo">
                <span class="material-symbols-outlined">description</span>
                <h3 >List of Demo</h3>
            </a>
            <a href="TGRulesAndRegulation"style="background-color: rgb(68, 68, 68);">
                <span class="material-symbols-outlined"style="color: yellow;">rule</span>
                <h3 style="color: yellow;">Rules and Regulation</h3>
            </a>
            <a href="TourguideLogin.html">
                <span class="material-symbols-outlined">logout</span>
                <h3>Logout</h3>
            </a>
            <div class="date-time-container">
                <div class="time" id="time"></div>
                <div class="date" id="date"></div>
              </div>
        </div>
        </div>
    </div>
    <div class="MainBody">
        <div class="topOfbody">
            <h1>Rules and Regulation
                <img class="ride" src="ATV BACKGROUND/ride-removebg-preview.png">
                <button class="darks" onclick="toggleMode()" id="toggleBtn1" style=" cursor: pointer;"><span class="material-symbols-outlined">dark_mode</span></button>
                <button class="lights" onclick="toggleMode()" id="toggleText2" style=" cursor: pointer;"><span class="material-symbols-outlined">light_mode</span></button>
            </h1>
            
        </div>

        <div class="RulesandRegulation">
            <div class="headerngrules">
                <h5> We ask for your understanding and compliance with the specified Rules and Regulations during our Tours. You may follow the advice of the assigned tour guide for each group, listen to safety protocols, and avoid negligence to prevent any accidents or disruptions to your vacation. Keep safe, everyone!</h5>
                    <img src="ATV BACKGROUND/Rules and Regulation.png">
            </div>
          
            
            <ul>
                <li>
                    <b>Safety Gear</b><p> All riders are required to wear appropriate safety gear, including helmets, gloves, and goggles, throughout the entire duration of the ATV ride.</p>
                </li>
                <li>
                   <b> Age Limit</b> <p>Only individuals of legal age and possessing a valid driver's license or those under the supervision of a legal guardian are allowed to operate the ATV.</p>
                </li>
                <li>
                    <b> No Alcohol or Drugs</b><p> Riding under the influence of alcohol or drugs is strictly prohibited. Any rider suspected of being impaired will not be allowed to participate.</p>
                </li>
                <li>
                    <b>Follow the Guide</b><p> Riders must follow the designated ATV guide at all times during the tour. Instructions given by the guide must be followed promptly.</p>
                </li>
                <li>
                     <b>Stay on Designated Trails</b><p> It is prohibited to venture off the designated ATV trails to protect the local flora and fauna and ensure the safety of the riders.</p>
                </li>
                <li>
                     <b>One Rider per ATV</b> <p>Each ATV is designed for a single rider. Riding with a passenger is not allowed, except in ATVs specifically designed for two persons.</p>
                </li>
                <li>
                    <b>Maintain Safe Distance</b> <p>Riders must maintain a safe distance from the ATV ahead of them to avoid collisions.</p>
                </li>
                <li>
                    <b> No Racing or Stunts</b> <p>Racing, reckless driving, or performing stunts with the ATVs is strictly prohibited.</p>
                </li>
                <li>
                    <b> Environmental Responsibility</b><p> All riders must respect the environment and not leave any trash or litter during the tour.</p>
                </li>
                <li>
                    <b> Assumption of Risk</b><p>Riders must sign a liability waiver and assume responsibility for any risks associated with ATV riding before participating in the activity.</p>
                </li>
            </ul>
        </div>







        <script>
            function updateDateTime() {
        const dateElement = document.getElementById('date');
        const timeElement = document.getElementById('time');
    
        const currentDate = new Date();
    
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        const dateString = currentDate.toLocaleDateString(undefined, options);
    
        const timeString = currentDate.toLocaleTimeString();
    
        dateElement.textContent = dateString;
        timeElement.textContent = timeString;
    }
        setInterval(updateDateTime, 1000);
        updateDateTime();
    
        </script>
    
    <script>
        const toggleBtn1 = document.getElementById('toggleBtn1');
        const toggleText2 = document.getElementById('toggleText2');
        const MainBody = document.querySelector('.MainBody');
        const rideImage = document.querySelector('.ride');
        const ion = document.querySelector('.ion');
        const darks = document.getElementById('.darks')

        toggleBtn1.addEventListener('click', () => {
        MainBody.classList.toggle('dark-mode');
        rideImage.classList.toggle('dark-mode');
        ion.classList.toggle('dark-mode');
        
    });
    toggleText2.addEventListener('click', () => {
        MainBody.classList.toggle('dark-mode');
        rideImage.classList.toggle('dark-mode');
        ion.classList.toggle('dark-mode');
    });
    </script>
    <script>
        function toggleMode() {
            const body = document.body;
            const darkButton = document.querySelector('.darks');
            const lightButton = document.querySelector('.lights');

            if (body.classList.contains('dark-mode')) {
                body.classList.remove('dark-mode');
                body.classList.add('light-mode');
                darkButton.style.display = 'none';
                lightButton.style.display = 'inline-block';
            } else {
                body.classList.remove('light-mode');
                body.classList.add('dark-mode');
                darkButton.style.display = 'inline-block';
                lightButton.style.display = 'none';
            }
        }
    </script>
    </body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </html>